@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "";
    ViewData["background-image"] = "/images/background-login.png";
}

<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center align-content-center align-items-center" style="height: 50rem; margin: 1rem;">
    <div class="card" style="width: 30rem; box-shadow: 1px 3px 20px 3px #7d7d7d96;">
        <div class="card-body">
            <section>
                <form method="post">
                    <div style="padding: 20px;">
                        <div class="header-card-login d-flex justify-content-between align-content-center align-items-center" style="padding-bottom: 20px;">
                            <img src="/images/logo.png" />
                            <div class="help-login-page d-flex flex-row align-items-center gap-2">
                                @*<div style="margin-right: -40px; background-color: white; border-radius: 40px; z-index: 2; width: 60px; height: 60px; background-position: center; background-size: cover; background-image: url(/images/person-3-login.png);  box-shadow: 1px 2px 20px 2px #7d7d7d96;"></div>*@
                                @*<div style="width: 100%; position: relative;">
                                <div style="position: absolute; width: 50px; height: 50px; background-position: center; background-size: cover; bottom: 0px; right: -40px; background-image: url(/images/profile.png);">
                                </div>
                                </div>*@
                            </div>
                        </div>
                        <div>
                            <h2 style="font-weight: 700; line-height: 26px;">Forgot your password?</h2>
                            <h6 style="color: gray; font-weight: 200;">Faça login na sua conta e começe sua jornada</h6>
                            <br />
                            <div style="gap: 10px; display: flex; flex-direction: column;">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                @*<div>
                                <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                </div>
                                </div>*@
                                <div class="d-flex gap-2 align-items-center justify-content-lef">
                                    <button id="login-submit" type="submit" class="btn w-100 btn-primary">Reset password</button>
                                    @*<a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar-se</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
