@page
@model MinhaEscola.Service.Identity.Web.Areas.Identity.Pages.Admin.Applications.Manage.RegisterPageModel

@{
    ViewData["Title-Icon"] = "bi-layout-text-window-reverse";
    ViewData["Title-Page"] = "Register a new application";
    ViewData["Subtitle-Page"] = "Create a new application for connect the this provider!";
}

<form method="post" style="padding: 20px;">
    <div class="d-flex flex-wrap gap-3">
        <div class="form-floating">
            <input asp-for="Application.ClientName" class="form-control"  aria-required="true" />
            <label asp-for="Application.ClientName" class="form-label"></label>
            <span asp-validation-for="Application.ClientName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Application.DisplayName" class="form-control" aria-required="true" />
            <label asp-for="Application.DisplayName" class="form-label"></label>
            <span asp-validation-for="Application.DisplayName" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="d-flex flex-wrap gap-3">
        <div class="form-floating">
            <input asp-for="Application.LogoutRedirectUri" class="form-control" aria-required="true" />
            <label asp-for="Application.LogoutRedirectUri" class="form-label"></label>
            <span asp-validation-for="Application.LogoutRedirectUri" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Application.RedirectUri" class="form-control" aria-required="true" />
            <label asp-for="Application.RedirectUri" class="form-label"></label>
            <span asp-validation-for="Application.RedirectUri" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div>
        <select multiple  asp-for="Application.Permissions" id="Permissions" asp-items="Model.ListOfPermissions" placeholder="select members" style="width: 20rem;" data-placeholder="Permissions"></select>
    </div>
    <div class="d-flex g-4" style="gap: 10px; padding-top: 4rem;">
        <a asp-page="./Index" class="btn btn-style-primary-outline"><i class="bi bi-box-arrow-in-left"></i>Back</a>
        <button id="login-submit" type="submit" class="btn btn-style-primary"><i class="bi bi-check2-all"></i>Create Application</button>
    @*<a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar-se</a>*@
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        ﻿(function ($) {
            'use strict';
            $('#Permissions').select2({
                theme: 'bootstrap-5',
                containerCssClass: "select2--small",
                dropdownCssClass: "select2--small"
                //width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                //placeholder: $(this).data('placeholder'),
                //closeOnSelect: false
            });

            $('.breadcrumb-item').on('click', function (e) {
                $('.breadcrumb-item').removeClass('active');
                
                this.classList.add("active");
                
                var page = $(this).attr("aria-current");
                
                $('.page').addClass('hidden');

                console.log(page)
                $(page).removeClass("hidden");
            })
        })($ || jQuery);
    </script>
}